html * {
  font-family: "Open Sans";
}

body {
  background: rgb(199, 212, 221);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  border-radius: 15px;
}

.main {
  background: rgb(234, 234, 234);
  padding: 10px 10px 10px 10px;
  border: 10px solid rgb(79, 108, 122);
  text-align: center;
  min-width: 50%;
  min-height: 90%;
  border-radius: 15px;
}

.content {
  position: relative;
}

.button {
  background: rgb(139, 139, 139);
  border: none;
  margin: 3px;
  padding: 0;
  min-width: 120px;
  min-height: 40px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  color: rgb(234, 234, 234);
}

.button a {
  display: block;
  color: #f2f2f2;
  padding: 8px 28px 9px 28px;
  text-align: center;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.5s, 0.5s;
}

/* Change background on mouse-over */
.button a:hover {
  background: #ddd;
  color: black;
}

.toggleButton {
  background: #ddd;
  color: black;
}

.toggleButton a {
  background: #ddd;
  color: black;
}

.return-home {
  background: none;
  border: none;

  font-size: 20px;
  text-align: center;
  color: rgb(139, 139, 139);
}

.logout-button {
  background: none;
  border: none;

  font-size: 25px;
  text-align: center;
  color: rgb(139, 139, 139);
}

.testTop {
  position: relative;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}

.testTopText {
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: rgb(234, 234, 234);
}

.top-right {
  position: absolute;
  top: 10;
  right: 0;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px 20% 10px 20%;
  color: white;
}

.results-container {
  display: grid;
  grid-template-columns: 5 auto;
  padding: 10px 20% 10px 20%;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  color: black;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  color: black;
  background-color: #dddddd;
}

.navButton {
  position: relative;
  padding: 50px 10px 10px 10px;
}

.prevNavButton {
  position: absolute;
  left: 10px;
  bottom: 0;
  display: block;
}

.nextNavButton {
  position: absolute;
  right: 10px;
  bottom: 0;
  display: none;
}
